.featured-events {
  padding: 60px 20px;
  background: linear-gradient(135deg, #f5f7fa, #e2e6ec);
  text-align: center;
  border-top: 1px solid #ddd;
}

.featured-grid{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.featured-events h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 30px;
}
